/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    color: #ffffff;
}

/* Contenedor del video */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    overflow: hidden;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Header y navegación */
header {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: relative;
    z-index: 100;
}

.logo img {
    height: 80px;
}

/* Navegación */
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
    position: relative;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 12px;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #d3d3d3;
    color: #1f1f1f;
    border-radius: 5px;
}

/* Botones especiales */
.btn {
    background-color: #FFC300;
    color: #000000;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #8B0000;
    color: #ffffff;
}

/* Dropdown menú */
.dropdown {
    position: relative;
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d3d3d3;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 2;
    border-radius: 5px;
}

.dropdown-content a {
    color: #1f1f1f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #FFC300;
    color: #1f1f1f;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Hero section (texto encima del video) */
.hero {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 200px 20px 100px 20px;
}

.hero h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

.hero p {
    margin-top: 20px;
    font-size: 20px;
}

/* Botón flotante de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 12px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    z-index: 3;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

/* Footer */
footer {
    background: transparent;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    position: relative;
    z-index: 1;
    margin-top: 50px;
}






/*Portfolio page*/
body {
    background-color: #121212; /* Fondo oscuro */
}

.portfolio-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinea al inicio para el título */
    min-height: 80vh; /* Aumenta la altura */
    padding: 20px;
    position: relative;
    z-index: 1;
}

.portfolio-title {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    width: 100%; /* Ocupa todo el ancho */
    border-bottom: 1px solid #ffffff; /* Línea inferior */
    padding-bottom: 10px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 960px;
    width: 100%;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2c2c2c; /* Color de los cuadros */
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    height: 200px; /* Altura fija para los cuadros */
    overflow: hidden; /* Ocultamos el desbordamiento para el efecto */
    position: relative; /* Para posicionar el pseudo-elemento */
}
/* Pseudo-element para el fondo de color */
.portfolio-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8; /* Transparencia del color */
    z-index: -1; /* Detrás del contenido */
}

.portfolio-item:nth-child(1)::before { background-color: #89CFF0; } /* Azul claro - FORMACION ACTORAL */
.portfolio-item:nth-child(2)::before { background-color: #FF69B4; } /* Rosa - VIDEO CLIPS */
.portfolio-item:nth-child(3)::before { background-color: #6B8E23; } /* Verde oliva - CORPORATIVO */
.portfolio-item:nth-child(4)::before { background-color: #FFD700; } /* Amarillo oro - CINE */
.portfolio-item:nth-child(5)::before { background-color: #9370DB; } /* Morado - FOTOGRAFIA */
.portfolio-item:nth-child(6)::before { background-color: #FFA07A; } /* Salmón - REDES */


.portfolio-item:hover {
    transform: scale(1.05); /* Ligeramente más grande al hacer hover */
}

.portfolio-item i {
    font-size: 2em; /* Tamaño de los iconos */
    margin-bottom: 10px;
}

.portfolio-item span {
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejor legibilidad */
}


/* Media query para pantallas más pequeñas (ej., móviles) */
@media (max-width: 768px) {
    .portfolio-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}





/*Formación Actoral*/
.formacion-actoral-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 80vh;
    padding: 20px;
    background-color: #222222; /* Fondo gris oscuro, igual que en portfolio.html */
    color: #ffffff;
}

.formacion-actoral-title {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    width: 80%;
}

.formacion-actoral-descripcion, .semillero-actores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #111827; /* Cuadros grises */
    border-radius: 10px;
}

.formacion-actoral-texto, .semillero-texto {
    flex: 1;
    padding-right: 20px;
}

.formacion-actoral-imagen, .semillero-imagen {
    flex: 1;
    display: flex;
    justify-content: center;
}

.formacion-actoral-imagen img, .semillero-imagen img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.semillero-texto ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Media queries para hacerlo responsivo */
@media (max-width: 768px) {
    .formacion-actoral-descripcion, .semillero-actores {
        flex-direction: column;
        text-align: center;
    }

    .formacion-actoral-texto, .semillero-texto {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .formacion-actoral-imagen, .semillero-imagen {
        order: -1; /* Mueve la imagen arriba en pantallas pequeñas */
    }

    .formacion-actoral-title {
        font-size: 2em;
        width: 100%;
    }
}




/*videoclip*/
.videoclip-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 80vh;
    padding: 20px;
    background-color: #222222;
    color: #ffffff;
}

.videoclip-title {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    width: 80%;
}

.videoclip-descripcion {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Cambiamos de flex-start a center */
    width: 80%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #333333;
    border-radius: 10px;
}

.videoclip-texto {
    flex: 1;
    padding-right: 20px; /* Reducimos el padding-right para el centrado */
    text-align: center; /* Centramos el texto horizontalmente */
}

.videoclip-texto h2 {
    margin-bottom: 15px;
}

.videoclip-texto p {
    line-height: 1.6;
    letter-spacing: 0.8px;
}

.videoclip-videos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.videoclip-video {
    text-align: center;
}

.videoclip-video img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.social-media {
    width: 80%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #333333;
    border-radius: 10px;
}

.social-media-video {
    text-align: center;
}

.social-media-video img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Media queries para hacerlo responsivo */
@media (max-width: 768px) {
    .videoclip-descripcion {
        flex-direction: column;
        text-align: center;
    }

    .videoclip-texto {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .videoclip-videos {
        order: -1;
    }

    .videoclip-title {
        font-size: 2em;
        width: 100%;
    }
}




/*Corporativo*/
.corporativo-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 80vh;
    padding: 20px;
    background-color: #222222;
    color: #ffffff;
}

.corporativo-title {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    width: 80%;
}

.corporativo-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #333333;
    border-radius: 10px;
}

.corporativo-drone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.corporativo-drone img {
    max-width: 40%;
    height: auto;
    border-radius: 5px;
}

.corporativo-drone-text {
    flex: 1;
    padding-left: 20px;
}

.corporativo-drone-text h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.corporativo-drone-text h3 {
    font-size: 1.4em;
    margin-top: 15px;
    margin-bottom: 5px;
}

.corporativo-drone-text ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 15px;
}

.corporativo-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.corporativo-images img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Media queries para hacerlo responsivo */
@media (max-width: 768px) {
    .corporativo-drone {
        flex-direction: column;
        text-align: center;
    }

    .corporativo-drone img {
        max-width: 80%;
        margin-bottom: 20px;
    }

    .corporativo-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .corporativo-title {
        font-size: 2em;
        width: 100%;
    }
}





/*registro*/
.registro-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
    background-color: #2d4b5e;
    color: #ffffff;
}

.registro-form {
    width: 40%;
    padding: 20px;
}

.registro-form h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: left;
}

.registro-form p {
    margin-bottom: 20px;
    text-align: left;
}

.registro-form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.registro-form input[type="text"],
.registro-form input[type="email"],
.registro-form input[type="password"],
.registro-form input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #ffffff; /* Fondo blanco para los inputs */
    color: #333; /* Color del texto dentro de los inputs */
}

.registro-btn {
    background-color: #FFC300;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
}

.registro-btn:hover {
    background-color: #8B0000;
    color: #ffffff;
}

.registro-image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Media queries para hacerlo responsivo */
@media (max-width: 768px) {
    .registro-main {
        flex-direction: column;
        align-items: center;
    }

    .registro-form, .registro-image {
        width: 90%;
    }
}





/*Login*/
.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
    background-color: rgba(8, 35, 112, 0.785);
    color: #ffffff;
}

.login-form {
    width: 40%;
    padding: 20px;
}

.login-form h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: left;
}

.login-form p {
    margin-bottom: 20px;
    text-align: left;
}

.login-form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #ffffff;
    color: #333;
}

.login-btn {
    background-color: #FFC300;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
}

.login-btn:hover {
    background-color: #8B0000;
    color: #ffffff;
}

.forgot-password {
    display: block;
    margin-top: 15px;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Media queries para hacerlo responsivo */
@media (max-width: 768px) {
    .login-main {
        flex-direction: column;
        align-items: center;
    }

    .login-form, .login-image {
        width: 90%;
    }
}




/*cine*/
.cine-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 80vh;
    padding: 20px;
    background-color: #222222;
    color: #ffffff;
}

.cine-title {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    width: 80%;
}

.cine-content {
    display: flex;
    width: 80%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #333333;
    border-radius: 10px;
}

.cine-text {
    flex: 1;
    padding-right: 20px;
}

.cine-text h2 {
    margin-bottom: 15px;
}

.cine-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cine-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Media queries para hacerlo responsivo */
@media (max-width: 768px) {
    .cine-content {
        flex-direction: column;
        text-align: center;
    }

    .cine-text {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .cine-image {
        order: -1;
    }

    .cine-title {
        font-size: 2em;
        width: 100%;
    }
}



/*fotografía*/
.fotografia-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 80vh;
    padding: 20px;
    background-color: #222222;
    color: #ffffff;
}

.fotografia-title {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    width: 80%;
}

.fotografia-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 30px;
}

.fotografia-main-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Media queries para hacerlo responsivo */
@media (max-width: 768px) {
    .fotografia-title {
        font-size: 2em;
        width: 100%;
    }
}




/*redes*/
.redes-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 80vh;
    padding: 20px;
    background-color: #222222;
    color: #ffffff;
}

.redes-title {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    width: 80%;
}

.redes-content {
    display: flex;
    width: 80%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #333333;
    border-radius: 10px;
}

.redes-text {
    flex: 1;
    padding-right: 20px;
}

.redes-text h2 {
    margin-bottom: 15px;
}

.redes-contact {
    margin-top: 20px;
}

.redes-contact h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.redes-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Added max-height to limit the container's height  */
    max-height: 400px;  /* Adjust this value as needed */
}

.redes-main-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Media queries para hacerlo responsivo */
@media (max-width: 768px) {
    .redes-content {
        flex-direction: column;
        text-align: center;
    }

    .redes-text {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .redes-image-container {
        order: -1;
        max-height: none;  /* Reset max-height for smaller screens  */
    }

    .redes-main-image {
        max-width: 80%;
    }

    .redes-title {
        font-size: 2em;
        width: 100%;
    }
}




/*about*/
.about-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 80vh;
    padding: 20px;
    background-color: #222222;
    color: #ffffff;
}

.about-section {
    width: 80%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #2d4b5e;  /* Changed background color */
    border-radius: 10px;
}

.about-section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
    text-align: center; /* Centered the heading */
}

.about-section p {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: center; /* Centered the paragraph */
}

.about-section.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .about-section {
        width: 90%;
    }

    .about-section h2 {
        font-size: 1.5em;
    }

    .about-section p {
        font-size: 1em;
    }
}




/*contacto*/
.contacto-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 80vh;
    padding: 20px;
    background-color: #222222;
    color: #ffffff;
}

.contact-card {
    width: 80%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #2d4b5e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-map {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.contact-info {
    text-align: center;
    margin-bottom: 15px;
}

.contact-info h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 5px;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.social-profiles {
    text-align: center;
}

.social-profiles h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.social-profiles a {
    display: inline-block;
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #12098f;
    border-radius: 5px;
}

.facebook-link {
    color: #ffffff; /* Default white */
}

.instagram-link {
    color: #ffffff; /* Default white */
}

.facebook-link strong { /* Style the strong tag inside */
    color: #3b5998; /* Facebook blue */
}

.instagram-link strong { /* Style the strong tag inside */
    color: #e4405f; /* Instagram pink */
}

.social-profiles a:hover {
    color: #020202;
    background-color: #3b5998; /* Hover blue */
}

.contact-details {
    width: 80%;
    text-align: center;
}

.contact-details h2 {
    font-size: 2em;
    margin-bottom: 15px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
}

.contact-details-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    width: 100%;
}

.contact-details-grid p {
    background-color: #333333;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-phone { }
.contact-email { }
.contact-website { }
.contact-at { }
.contact-user { }

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .contact-card {
        width: 90%;
    }

    .contact-details {
        width: 90%;
    }
}